
<p>
  Hello <%= @contact.firstname %>, 
</p>
<p>
 Welcome to the Brest-Coworking waiting.

 Please use the link below to validate your subscrition : 

 <%= link_to "get to the home page", root_url %>
</p>