
<p>
  Hello <%= @contact.firstname %>, 
</p>
<p>
 Welcome to the Brest-Coworking waiting.

 Please use the link below to validate your subscrition : 
  <%= link_to "Confirm your subscription on the waiting list",  "http://#{confirm_email_contact_url(@contact.confirm_token)}"%>
  <%= link_to "Get to the home page", root_url %>
</p>